@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#section0{
    background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
    background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
    background: linear-gradient(#4BBFC3,#7BAABE);
  }

#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
    background: -webkit-linear-gradient(#7BAABE, #969AC6);
    background: linear-gradient(#7BAABE,#969AC6);
  }

#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
    background: -webkit-linear-gradient(#969AC6, #636F8F);
    background: linear-gradient(#969AC6,#636F8F);
}

#name {
  position: fixed;
  font-family: Montez;
  font-size: 6em;
  color: black;
  top: 70px;
  left: 90px;
  font-weight: 100;
}

#title {
 position: fixed;
 top: 160px;
 left: 200px;
 color: black;
}

#right-dec, #left-dec, #top-dec {
  position: fixed;
  z-index: 999;
}

#right-dec, #left-dec {
  background-repeat: repeat-y;
  bottom:0;
  height: 100%;
  width:20px;
}

#right-dec {
  background-image: url("../img/blackScallopSmall.png");
  right: -10px;
}

#left-dec {
  background-image: url("../img/leftScallop.png");
  left: -10px;
}

#top-dec {
  width: 100%;
  background-image: url("../img/topScallop.png");
  height: 20px;
  top: -6px;
}

#bottom-dec {
  position: fixed;
  width: 100%;
  background-image: url("../img/bottomScallop.png");
  height: 20px;
  bottom: -6px;
}

#lady {
  position: fixed;
  top: 30%;
  left: 40%;
}

#section1 img {
  width: 25%;
}

#projects div {
  width: 25%;
}

.github {
  display: block;
  position: fixed;
}

#about {
  width: 70%;
  text-align: center;
}

@-webkit-keyframes bounce {
  0% { bottom: 5px; }
  25%, 75% { bottom: 15px; }
  50% { bottom: 20px; }
  100% { bottom: 0; }
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 10%;
  margin-left:-20px;
  width: 6em;
  height: 6em;
  background-image: url("../img/arrow.png");
  background-size: contain;
}

#scroll {
  position: fixed;
  bottom: 1.5%;
  right: 14%;
  font-family: Montez;
  font-size: 2.5em;
  color: black;
}

/*
 * Adding the animation to our element
*/
.bounce {
  -webkit-animation:bounce 1s infinite;
}

@media (max-width: 770px) {
  #name {
    font-size: 5em;
  }
}
